<!DOCTYPE html>

<html>
    <head>
        <title>Project-Evo | Login</title>
        <link rel="stylesheet" href="static/login.css" />
    </head>
    <body>
        <h1>Alpha Version: Project-Evo Login System</h1>
        <div>
            Login
            <li style="float:right"><a href="{{ url_for('register') }}">Register</a></li>
            <form action="python/loginSystem.py">
                Username or Email:<br>
                <input type="text" name="username"><br>
                Password:<br>
                <input type="text" name="password"><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>